<!DOCTYPE html>
<html ng-app="LunchCheck">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="styles/bootstrap.min.css">
  <script src="angular.min.js"></script>
  <script src="app.js"></script>
  <style>
    .message { font-size: 1.3em; font-weight: bold; }
  </style>
  <title>Lunch Checker</title>
</head>
<body>
  <div class="container">
     <h1>Lunch Checker</h1>

  <div  class="form-group"  ng-controller="LunchCheckController">
  <input class="form-control"  placeholder="list comma separated dishes you usually have for lunch" type="text" ng-model="name"></input>
  This do not consider empty item</br>
     <div class="form-group">
  <button class="btn btn-default" name="Submit" ng-click="status();">Check If Too Much!</button></div></br>
         <div class="form-group message">
   {{message}}
 </div>
</div>
</div>
</body>
</html>
